@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;700;900&display=swap');
body{
    background-color: white;
    padding: 0%;
    margin: 0%;

}
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
/* Navbar*/
header{
    background-color:lightcoral;
    color:white;
    padding: 10px 0;
}
header nav{
    float:right;
    margin-top: 10px;

}
header ul{
    margin: 0;
    padding:0;
}
header li{
    display: inline;
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
header a{
    color: white;
    text-decoration: none;

}
header a:hover{
    color:rebeccapurple;
}
#caption{
    float:left;
}
#caption h1{
    margin:0;
}
header .logo-rebeccapurple{
    color:rebeccapurple;
 
}
/*Hero section*/
#Hero{
    min-height: 500px;
    background-image: url(coralpink.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#Hero h4{
    font-size: 25px;
    margin-top: 150px;
    margin-bottom: 0%;
    text-align: center;
}
#Hero h1{
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    color: blueviolet;
    font-family: 'Dancing Script', cursive;
}
#Hero button{
    font-size: 19px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid black;
    color: lightcoral;
    display: flex;
    align-items: center;
    margin: auto;

}
#Hero button:hover{
    background-color: lightcoral;
    color: white;
    border: 1px solid palevioletred;
}
#separate{
    padding: 5px;
    background-color: lightcoral;
}
/*About Me section*/
#about{
    padding: 120px 0;
    background-color: white;
}
#about h2{
    font-size: 40px;
    font-family: 'Roboto',sans-serif;
    color: lightcoral;
}
.about-box1{
    width: 20%;
    float: left;
    padding: 10px;
}
.about-box1 img{
    display:block;
    margin: auto;
}
.about-box2{
    width: 60%;
    float: right;
    padding: 10px;
    text-align: justify;
}
#about button{
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    border: 1px solid lightcoral;
    color: lightcoral;
    padding: 8px 20px;

}
#about button:hover{
    background-color: lightcoral;
    color: white;
    border: 1px solid white;
}
/*Skill section*/
#skills{
    background-color: lavenderblush;
    padding: 70px 0;
}
.box{
    width: 28%;
    float: left;
    text-align: center;
    padding: 10px;
}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    
    margin: 1rem;
    position: relative;
    
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  #skills h2{
    color: lightcoral;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
  }
  #skills h3{
    font-size: 30px;
    font-family: 'Dancing Script',sans-serif;
    font-weight: bolder;
  }
  #skills p{
    font-size: 14px;
    color: gray;
    font-family: 'Roboto',sans-serif;
    padding: 10px;
  }
/*end of skill section*/
/*contact section */
#form h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: lightcoral;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
#form {
    margin: 5% 25%;
    padding: 70px;
    background-color: white;
    text-align: center;
}
#form .form-group{
    font-size: 20px;
    color: lightcoral;
    font-weight: bold;
}
input{
    width: 250px;
    padding: 5px;
    margin: 2px 0;
}
#form .button{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
    border: 1px solid lightcoral;
}
#orm .button:hover{
    color: lightcoral;
    background-color: white;

}
/*end of contact section*/
/* footer section*/
footer{
    padding: 10px;
    color: darkmagenta;
    background-color: white;
    text-align: center;
}